@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-allerta: "Allerta", sans-serif;
  --font-allerta-stencil: "Allerta Stencil", sans-serif;
  --font-akaya-kanadaka: "Akaya Kanadaka", system-ui;

  --color-primary: #BAD8C6;

  --breakpoint-sm:550px;
  --breakpoint-md:720px;
  --breakpoint-lg:890px;
  --breakpoint-xl:1375px;

  --animate-slide-in: slide-in 0.6s forwards;
  --animate-slide-out: slide-out 0.8s forwards;

  @keyframes slide-in {
    from {
      transform: translateX(215px);
      visibility: hidden;
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0);
      
    }
    75% {
      transform: translateX(215px);
    }
    100%{
      transform: translateX(215px);
      display: none;
    }
  }
}

html,
body {
  @apply bg-gray-100 font-allerta text-gray-800;

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}
