@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-allerta: "Allerta", sans-serif;
  --font-allerta-stencil: "Allerta Stencil", sans-serif;
  --font-akaya-kanadaka: "Akaya Kanadaka", system-ui;

  --breakpoint-md:900px;
  --breakpoint-lg:1375px;
}

html,
body {
  @apply bg-gray-100 font-allerta text-gray-800;

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}
